<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shuffl3R_Li.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shuffl3R_Li.Properties.Settings>
            <setting name="shufflerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="shufflerSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="animation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="optionsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="optionsSize" serializeAs="String">
                <value>971, 743</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="source" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoProceedCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoProceedStall" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="itemlist" serializeAs="String">
                <value />
            </setting>
            <setting name="sourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="listLocation" serializeAs="String">
                <value>400, 0</value>
            </setting>
            <setting name="listSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="listAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listFont" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="listBgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="listFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="listDisable" serializeAs="String">
                <value>False</value>
            </setting>
        </Shuffl3R_Li.Properties.Settings>
    </userSettings>
</configuration>